@use "global";

#app {
    font-family: Product Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #56585a;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: var(--space-xxs);
    background-color: var(--lt-muted-light);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: #80808090;
    border-radius: 3px;
}
  