@use "global";

#app {
    font-family: Product Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #56585a;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
  