:root {
        --lt-default-text-color: hsl(233, 20%, 16%);
        --lt-dark: hsl(231, 19%, 20%);
        --lt-light: hsl(240, 9%, 98%);
        --lt-black: hsl(0, 0%, 0%);
        --lt-lighter: hsl(0, 0%, 100%);
        --lt-primary: hsl(44, 100%, 50%);
        --lt-muted: hsl(210, 9%, 31%);
        --lt-muted-light: hsl(210, 16%, 93%);
        --lt-input-bg: hsla(0, 0%, 91%, 0.5);
}
.dark {
        --lt-default-text-color: hsl(233, 20%, 80%);
        --lt-dark: hsl(231, 19%, 20%);
        --lt-light: hsl(240, 8%, 15%);
        --lt-lighter: hsl(227, 23%, 23%);
        --lt-primary: hsl(44, 100%, 50%);
        --lt-muted: hsl(210, 9%, 31%);    
        --lt-muted-light: hsla(226, 18%, 38%, .5);
        --success: #3fd0d4;
}